:root {
  --clr_1: #333333;
  --clr_2: #40b06a;
  --clr_3: #e0e0e0;
  --clr_4: #272727;
  --clr_5: #f29834;
  --clr_6: #cccccc;
  --clr_7: #667b84;
  --clr_8: #405660;
  --clr-primary: #00a7e3;
  --clr-primary-light: #bfe9f8;
  --clr-primary-dark: #0382cc;
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-svg: #99a7ad;
  --clr-table-header: #111111;
  --header-text: #444444;
  --txt-color: #333333;
  --transition: 0.3s;
  --font-body-size: 12px;
  --font-body-weight: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-body-lineheight: 22px;
  --footer-text: #cfcfcf;
  --main-color: #0039a6;
  --secondary-color: #009739;
  --border-bottom-clr: #eaeaea;
  --color-border: #777;
  --color-border-light: #ccd3d6;
  --toggle-switch: #b8b8b8;
  --toggle-switch-active: #1cbf70;
  --font-color-1: #405660;
  --font-color-2: #2e3b41;
  --clr-upload-image: #f7f9fb;
  --theme-btn: linear-gradient(180deg, #0e97e7 0%, #00649e 100%);
  --theme-btn-hover: linear-gradient(180deg, #0e97e7 0%, #0382cc 100%);
  --border-gray: #c2d2d9;
  --background-gray: #dae4e8;
  --border-blue: #0e97e7;
  --background-blue: #f5fbff;
}
