:root {
    --clr_1: #2C2C2C;
    --clr_2: #DADADA;
    --clr_3: #888;
    --clr_4: #B1B1B1;
    --clr_5: #333333;
    --clr_6: #333;
    --clr_7: #1EBD78;
    --clr_8: #E0E0E0;
    --clr_9: #272727;
    --clr_10: #3285b9;
    --clr_11: #303030;
    --btn-image: linear-gradient(to bottom, #3285b9, #2d81b6, #277db3, #2179b0, #1b75ad);
    --btn-hover-img: linear-gradient(to bottom, #25658e, #25658e, #25658e, #25658e, #25658e);
    --theme-btn: linear-gradient(171deg, #1EBD78 0%, #03A46B 100%);
    --banner_background: #ffe8e8; 
    --banner-text: #b05d5d; 
    --clr-black: #000000; 
    --clr-white: #ffffff; 
    --header-text: #323232; 
    --txt-color: #232323; 
    --transition: 0.3s; 
    --font-body-size: 12px; 
    --font-body-weight: 400; 
    --font-weight-medium: 500; 
    --font-weight-bold: 700; 
    --font-body-lineheight: 22px; 
    --input-background: #efefef; 
    --border-list: #e6e6e6; 
    --footer-text: #cfcfcf; 
    --border-bottom: #ddd; 
    --main-color: #0e97e7;
    --active-color: #1C65D3;
    --border-bottom-clr: #ced4da;
    --color-primary: #085df2;
    --color-primary-400: #0e97e7;
    --color-secondary-700: #061f2d;
    --color-text: #000000;
}

