:root {
    --clr1: #EB1F24; //primary color
    --clr2: #40B06A; //secondary color
    --clr3: #E0E0E0; //tertiary color
    --clrBlack: #000000; //black color
    --clrWhite: #fff; //white color
    --clrIpTxtBorder: #111111; //input text border color
    --clrBtnBorder: #111111; //button border color
    --clrOvarlay: rgba(197,198,199,.6); //overlay color
    --clrBoxShadow: 0 11px 20px #1550744d; //box shadow color
}