 /* .toggleslider {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transform: scale(0.3);
  }
  .sort {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: #B8B8B8;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;  
    display: flex;
    align-items: center;
  }
  
  .toggleslider input {
    position: absolute;
    display: none;
  }
  
  .sort::before {
    position: absolute;
    left: 10px;
    height: 38px;
    width: 38px;
    background-color: #fff;
    content: " ";
    border-radius: 50%;
    transition: 0.4s;
    cursor: pointer;
  }
  
  input:checked + .sort::before {
    transform: translateX(40px);
  }
  .toggleslider.on .sort {
    background: #1CBF70;
    transition: 1s;
  }
   */